:root {
    --color-primary: #3880ff;
	--color-primary-rgb: 56,128,255;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #3171e0;
	--color-primary-tint: #4c8dff;

	--color-secondary: #5260ff;
	--color-secondary-rgb: 82,96,255;
	--color-secondary-contrast: #ffffff;
	--color-secondary-contrast-rgb: 255,255,255;
	--color-secondary-shade: #4854e0;
	--color-secondary-tint: #6370ff;

	--color-tertiary: #5260ff;
	--color-tertiary-rgb: 82,96,255;
	--color-tertiary-contrast: #ffffff;
	--color-tertiary-contrast-rgb: 255,255,255;
	--color-tertiary-shade: #4854e0;
	--color-tertiary-tint: #6370ff;
}