<div class="header">
  <div>
    <div class="_inputwrapper">
      <div class="_searchwrapper">
        <svg viewBox="0 0 16 16" height="16" width="16">
          <path d="m11 11 2 2" fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
          </path>
          <defs>
            <path id="a" d="m7.5 2c3.038 0 5.5 2.462 5.5 5.5s-2.462 5.5-5.5 5.5-5.5-2.462-5.5-5.5 2.462-5.5 5.5-5.5z">
            </path>
            <clipPath id="b">
              <use xlink:href="#a"></use>
            </clipPath>
          </defs>
          <use clip-path="url(#b)" fill="transparent" stroke="currentColor" stroke-width="3" xlink:href="#a"></use>
        </svg>
        <input class="_input-header" #input (input)="terms$.next(input.value)" placeholder="Search 6 projects…">
      </div>
    </div>
    <!-- <div class="">
            <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
            <input type="text"  name="first-name" id="first-name" autocomplete="given-name" 
            class="p-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
          </div> -->
  </div>
  <div class="_resultswrapper" style="flex: 1; overflow: auto;">
    <a *ngFor="let item of results" class="_itemWrapper">
      <div class="_itemcontainer">
        <div class="_iteminfo">
          <p class="_itemtitle">{{item.address.name}}</p>
          <p class="_itemsubinfo">{{item.address.country}}</p>
        </div>
      </div>
    </a>
    <!-- <div class="w-full">
      <div class="flex cursor-pointer py-2 my-1 hover:bg-blue-lightest rounded" *ngFor="let item of results"
        (click)="selectLocation(item)">
        <div class="w-8 h-10 text-center py-1">
          <p class="text-3xl p-0 text-green-dark">&bull;</p>
        </div>
        <div class="w-4/5 h-10 py-3 px-1 text-overflow">
          <p class="w-4/5 hover:text-blue-dark truncate">{{item.address.name}}</p>
        </div>
        <div class="w-1/5 h-10 text-right p-3">
          <p class="text-sm text-grey-dark">{{item.type | titlecase}}</p>
        </div>
      </div>
    </div> -->
    <!-- <p >
            {{item.display_place}}
        </p> -->
  </div>
  <div>.......</div>
</div>