@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}
html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
label {
    margin: 0;

    &.link {
        cursor: pointer;
    }

    @media (hover: hover) {
        &.link:hover {
            filter: brightness(120%) saturate(120%);
        }
    }
}