._detailsCardWrapper {
  width: 100%;
  max-width: 60rem;
  background: #fff;
  padding: 1.5rem 3rem;
}
._detailsCardInformation {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0,0,0, .1);
}
._detailsContainer {
    padding: 0px 3rem;
    margin-bottom: 1rem;
}
._detailstitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

._detailsCardTop {
    margin-bottom: 1rem;
    display: flex;
}

._detailstag {
    margin-right: 1rem;
    height: 3rem;
    padding: 0 .5rem;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(0,0,0, .1);
    border-radius: .4rem;
    svg {
        width: 1.5rem;
        height: 1.5rem;
        flex: none;
        margin-right: .5rem;
    }
    span {
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}
._detailsdescription {
    font-size: 1.4rem;
}

._detailsInfoWrapper {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
._infoWrapper {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    ._infoIconWrapper {
        flex: none;
        margin-right: 1rem;
        svg {
            color: #d3d3d3;
            width: 2rem;
            height: 2rem;
        }
    }
}