@use './assets/scss/main.scss';
@use "../node_modules/leaflet/dist/leaflet.css";
@use '../node_modules/leaflet-control-geocoder/dist/Control.Geocoder.css';
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#map {
    z-index: 1;
}

.leaflet-control-geocoder {
    display: none!important;
}
.ngneat-dialog-content {
    min-height: auto!important;
}

._skeletoncontainer {
    padding: 0 1rem;
    ._itemactions { opacity: 1!important; visibility: visible!important; }
}

._skeleton {
    margin: .4rem;
    --width: 80%;
    width: 300px;
    max-width: var(--width);
    height: 1.3rem;
    background: linear-gradient(to right, rgba(0,0,0,.05) 8%, rgba(0,0,0, .08) 18%, rgba(0,0,0,.05) 33%);

    &._btn {
        margin: 0 .4rem;
        width: 2rem;
        height: 2rem;
    }
}